.kita-show-container {
  background-color: #F9F9F9;
  border: 0.5px solid;
  border-radius: 4px;
  border-color: rgba(0,0,0,0.1);
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  padding: 20px;
  margin-left: 125px;
  margin-right: 125px;
  margin-top: 50px;
  display: flex;
  @media (max-width: 960px) {
    display: inline-flex;
    flex-direction: column;
    margin: 0px;
  }
  justify-content: space-around;
}
.kita-show-container h1, h2, p {
  margin: 0px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.kita-details-left-side {
  flex: 1 0 30%;
  font-size: 16px;
  line-height: 22px;
}
.kita-details-left-side p {
  margin: 0px;
}
.kita-details-left-side h3 {
  margin-left: 0px !important;
}

.show-right-side {
  flex: 0 0 30%;
  text-align: center;
}
.btn-primary {
  width: 300px;
}
.carrier {
  color: #A9A9A9;
  font-size: 14px;
}
.sticky {
  position: sticky !important;
  top: 380px !important;
}
.backlink {
  position: sticky !important;
  top: 420px !important;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  a {
    font-size: 15px;
    color: grey;
    text-decoration: underline;
  }
}
.kita-show-heart {
  font-size: 40px;
  color: #CB8589;
}
.small-container {
  display: flex;
}
.small-container-icon {
  margin-right: 15px;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
