.label-checkbox {
  font-size: 16px;
}

.filter-group {
  display: flex;
}
.filter-box {
  flex: 1 1 auto;
  border: 1px solid $gray;
  margin: 5px;
  padding: 5px;
  text-align: left;
}

.kindergarden-index-main-container {
  display: flex;
}
.kindergarden-index-cards-container {
  flex-grow: 2
}
.kindergarden-index-card {
  flex: 1 1 auto;
  position: relative;
  background-size: cover;
  background-position: center;
  height: 130px;
  border: 0.5px solid;
  border-radius: 4px;
  border-color: rgba(0,0,0,0.1);
  margin: 10px;

  a {
    color: $lightgray;
    &:hover {
      color: red;
    }
  }
}
.kindergarden-index-card:hover {
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.kindergarden-index-card-category {
  position: absolute;
  top: 8px;
  left: 100px;
  h6 {
    font-family: Abel;
    font-size: 12px;
    color: #808080;
  }
}
.kindergarden-index-card-name {
  position: absolute;
  top: 27px;
  left: 100px;
  font-size: 25px;
  h4 {
    font-family: Amatic SC;
    font-weight: lighter;
    font-size: 35px;
    color: black
  }
}
.kindergarden-index-card-address {
  position: absolute;
  top: 81px;
  left: 100px;
  h6 {
    font-family: Abel;
    font-size: 15px;
    color: black
  }
}
.yellow {
  color: yellow;
}
.gray {
  color: gray;
}
h3 {
  margin-left: 15px;
  font-weight: bold;
}
h4, h5 {
  color: black;
}
.top-corner-star {
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 99;
  color: #CB8589;
  font-size: 30px;

}
.kindergarden-index-card-compass {
  position: absolute;
  top: 90px;
  left: 600px;
  color: black;
  font-size: 15px;
}
