.subheader {
  padding: 0.5em 1em;
  h3 {
    text-align: center;
    font-weight: bold;
  }
}

.kindergarden-index-main-container {
  display: flex;
  padding: 0px;
  // color: $light-gray;
}
.kindergarden-index-cards-container {
  flex-grow: 2;
}

.kindergarden-index-card {
  box-shadow: 1px 0px 19px 0px rgba(47, 47, 47, 0.05);
  flex: 1 1 auto;
  position: relative;
  background-color: #fbfbfb;
  background-size: cover;
  background-position: center;
  height: 150px;
  border: 0.5px solid;
  border-radius: 4px;
  border-color: rgba(136, 136, 136, 0.12);
  margin: 10px;
  a {
    color: $lightgray;
    &:hover {
      color: red;
    }
  }
}


// .kindergarden-index-card:first-child {
//   margin-top: 0px;
// }
.kindergarden-index-card:hover {
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.kindergarden-index-card-category {
  position: absolute;
  top: 16px;
  left: 20px;
  h6 {
    font-family: Abel;
    font-size: 12px;
    color: #808080;
  }
}
.kindergarden-index-card-name {
  position: absolute;
  top: 47px;
  left: 20px;
  height: 30%;
  font-size: 25px;
  overflow: hidden;
  h4 {
    font-family: Amatic SC;
    font-weight: lighter;
    font-size: 32px;
    color: black
  }
}

.kindergarden-index-card-compass {
    position: absolute;
    bottom: 5px;
    right: 15px;
    font-family: Abel;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.9);
}

.kindergarden-index-card-address {
  position: absolute;
  bottom: 5px;
  left: 20px;
  overflow: hidden;
  h6 {
    font-family: Abel;
    font-size: 15px;
    color: $black
  }
}

.bookmark-symbol {
  position: absolute;
  top: 30px;
  right: 50px;
  z-index: 99;
  color: #CB8589;
  font-size: 30px;

}
.card-compass {
  position: absolute;
  bottom: 20px;
  right: 26px;
  color: #969696;
  font-size: 30px;
}

.list-index-title {
    text-align: center;
    margin-bottom: 24px;
    h3 {
      font-family: Amatic SC;
      font-size: 48px;
    }
}


@media(max-width: 468px) {
  .card-compass {
    display: none;
    transition: ease all 2s;
  }
  .bookmark-symbol{
    transition: ease all 2s;
    right: 50px;
    font-size: 30px; }

  .kindergarden-index-card-name {
    left: 15px;
    transition: ease all 2s;
  }
  .kindergarden-index-card-address{
    left: 15px;
    transition: ease all 2s;

  }
  .kindergarden-index-card-category {
    left: 15px;
    margin: 0px;
    transition: ease all 2s;
  }}

@media(max-width: 332px) {

  .bookmark{
    transition: ease all 2s;
    display: none; }
  .bookmark-symbol{
    transition: ease all 2s;
    right: 40px;
    font-size: 20px; }
  .kindergarden-index-card-name {
    left: 0px;
    transition: ease all 2s;
  }
  .kindergarden-index-card-address{
    left: 0px;
    bottom: 20px;
    transition: ease all 2s;
  }
  .kindergarden-index-card-category {
    left: 0px;
    margin: 0px;
    transition: ease all 2s;
  }
}
// h3 {
//   margin-left: 15px;
//   font-weight: bold;
// }
// h4, h5 {
//   color: black;
// }
