<h1><%= @kindergarden.name %></h1>
<h2><%= @kindergarden.address %></h2>

<h3><%= kindergarden.carrier.name %></h3>

<%= link_to "Erstelle eine Anfrage", new_kindergarden_inquiry_path(@kindergarden) %>
