.page-container {
  font-weight: lighter;
  text-align: center;
  margin: auto;
}
.searchbox-home {
  display: flex;
  justify-content: center;

  #kindergarden_address {
    background: transparent;
    border: 0;
    box-shadow: none;
    font-size: 18px;
    border-bottom: 4px solid white;
    color: white !important;
  }

  #kindergarden_address::placeholder {
    color: white !important;
    opacity: 0.8;
  }
}
// .searchbox-home {
//   // width: 50vw;
//   box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.1);
// }
.form-control {
  font-size: 14px;
}
// @media(max-width: 990px) {
//   .searchbox-home {
//   display: flex;
//   justify-content: center;
// }
// }
.three-steps-main {
  margin-top: 50px;
  // display: flex;
  // justify-content: center;
  // // margin-left: 150px;
  // // margin-right: 150px;
}
.first-step {
  // border-color: $light-gray;
  // border-style: solid;
  // border-width: 2px;
  padding: 5px;
}
.second-step {
  // border-color: $light-gray;
  // border-style: solid;
  // border-width: 2px;
  padding: 5px;
}
.third-step {
  // border-color: $light-gray;
  // border-style: solid;
  // border-width: 2px;
  padding: 5px;
}
.first-step h3 {
  height: 50px;
}
.second-step h3 {
  height: 50px;
}
.third-step h3 {
  height: 50px;
}
// .column {
//   flex: 1 1 auto;
// }

/* Clear floats after the columns */
// .row:after {
//     content: "";
//     display: table;
//     clear: both;
// }
.fa-angle-down {
  position: absolute;
  top: 180px;
}
