.searchbox-home {
  display: flex;
  justify-content: center;
}
.page-container {
  margin-left: 50px;
  margin-right: 50px;
  font-weight: lighter;
}
.searchbox-home {
  width: 50vw;
  box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.1);
}
.form-control {
  font-size: 14px;
}
