<h1>User Show</h1>

<div>
  <h4>My email:</h4>
  <p><%= current_user.email %></p>
</div>

<div>
  <h4>My inquiries</h4>
  <p><%= current_user.inquiries %></p>
</div>

<div>
  <h4>My bookmarks</h4>
  <p><%= current_user.bookmarks %></p>
</div>
