<div class="banner">
  <div class="banner-content">
    <h1>Kitas in Berlin</h1>
    <p>Der einfachste Weg deine Kita zu finden</p>
    <div class="search-home">
      <%= form_tag kindergardens_path, method: :get, class: 'searchbox-home' do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        id: 'kindergarden_address',
        placeholder: "Wo möchtest du suchen...?"
        %>
        <%= submit_tag 'Suchen', :class => 'searchbutton'%>
      <% end %>
    </div>
  </div>
</div>

<br>
<div class="page-container">
  <h1>Wie funktioniert die Suche?</h1>
  <div class="row">
    <div class="three-steps-main">
      <div class="column">
        <div class="first-step">
          <h3>1. Adresse eingeben</h3>
          <p>Adresse eingeben in dessen Nähe gesucht werden soll</p>
        </div>
      </div>
      <div class="column">
        <div class="second-step">
          <h3>2. Nach eigenen Präferenzen filtern</h3>
          <p>Nach Sprachen, Pädagogischen Ansätzen u.v.a. filtern und eine passende Kita finden</p>
        </div>
      </div>
      <div class="column">
        <div class="third-step">
          <h3>3. Favoriten kontaktieren</h3>
          <p>Favoriten speichern oder direkt anschreiben und Erinnerung einstellen, Kita nochmals zu konatkieren</p>
        </div>
      </div>
    </div>
  </div>
</div>
