
<div class="banner">
  <div class="container banner-content">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <h1>Kitas in Berlin</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <p>Der einfachste Weg deine Kita zu finden</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="search-home">
          <%= form_tag kindergardens_path, method: :get, class: 'searchbox-home' do %>
            <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            id: 'kindergarden_address',
            placeholder: "Wo möchtest du suchen...?"
            %>
            <%= submit_tag 'Suchen', :class => 'searchbutton'%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<div class=" container page-container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <h1>Wie funktioniert die Suche?</h1>
    </div>
  </div>

  <div class="row three-steps-main">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="first-step column">
        <h3>1.</br>Adresse eingeben</h3>
        <p>Adresse eingeben in dessen Nähe gesucht werden soll</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="second-step column">
        <h3>2.</br>Nach eigenen Präferenzen filtern</h3>
        <p>Nach Sprachen, Pädagogischen Ansätzen u.v.a. filtern und eine passende Kita finden</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="third-step column">
        <h3>3.</br>Favoriten kontaktieren</h3>
        <p>Favoriten speichern oder direkt anschreiben und Erinnerung einstellen, Kita nochmals zu konatkieren</p>
      </div>
    </div>
  </div>
</div>
