.label-checkbox {
  font-size: 16px;
}
.check_box

.filter-group {
  display: flex;
}
.filter-box {
  flex: 1 1 auto;
  border: 1px solid $gray;
  margin: 5px;
  padding: 5px;
  text-align: left;
}
.check-box {
  display: flex !important;
}
.check-box-item {
  flex: 1 1 auto;
}
