.searchbutton {
  background-color: $blue;
  width: 150px;
  border-color: $blue;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
}

.search-button {
  background: none;
  border: 0;
  border-bottom: 4px solid white;
  &:focus {
    outline: 0;
  }
}
